.profile{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.home-top{
    background-image: url("/images/IMG_0780.jpg");
}

.home-page {
    color: black;
}

.op {
    background-color: gray;
    opacity: .5;
    width: 365px;
}

.op:hover{
    opacity: 1.0;
}

h1 {
    color: black;
}