.profile{
    width: 300px;
    position: relative;
    right: 100px;
}

.imgHold {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.home-page{
    background-image: url("/images/IMG_0780.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 1000px;
}

.home-page {
    color: black;
}

.home-mid {
    background-color: white;
    max-width: 1000px;;
}